#!/usr/bin/env bash
#
#author:SwordsDevil
#date:2019/09/05
#usage: init mysql psd and create grant user

ps aux | grep -v grep | grep mysql
if [ $? -ne 0 ];then
  systemctl start mysqld
fi
sleep 5

initPsd=$(grep "temporary password" /var/log/mysqld.log | awk '{ print $NF }')
ROOTP="{{ mysql_root_password}}"
mysql --connect-expired-password -uroot -p"${initPsd}" -e "alter user root@localhost identified by '${ROOTP}';" 
