#!/usr/bin/env bash
#
#date:2019/09/03
#usage:init mysql password

ps aux | grep -v grep | grep mysqld &>/dev/null
if [ $? -ne 0 ];then
  systemctl start mysqld
fi
sleep 10
initPd=$(grep "temporary password" /var/log/mysqld.log | awk '{ print $NF }')
username='{{ mysql_user_name }}'
userpsd='{{ mysql_user_password}}'
rootpsd='{{ mysql_root_password }}'
mysql --connect-expired-password -uroot -p"${initPd}" -e "alter user root@localhost identified by '${rootpsd}';"
mysql -uroot -p"${rootpsd}" -e "create database project;"
mysql -uroot -p"${rootpsd}" -e "grant all privileges on project.* to ${username}@{{ mysql_ips }} identified by '${userpsd}'"
