#!/usr/bin/env bash
#
#author:SwordsDevil
#date:2019/09/05
#usage: init mysql psd and create grant user

ps aux | grep -v grep | grep mysql
if [ $? -ne 0 ];then
  systemctl start mysqld
fi
sleep 15

initPsd=$(grep "temporary password" /var/log/mysqld.log | awk '{ print $NF }')
ROOTP="{{ mysql_root_password}}"

mysql --connect-expired-password -uroot -p"${initPsd}" -e "alter user root@localhost identified by '${ROOTP}';" &>/dev/null

db="{{ mysql_database_name }}"
user="{{ mysql_user_name}}"
userp="{{ mysql_user_password}}"
ip="{{ mysql_grant_ip}}"
mysql -uroot -p"${ROOTP}" -e "create database ${db};"
mysql -uroot -p"${ROOTP}" -e "grant all privileges on *.* to '${user}'@'${ip}' identified by '${userp}';"
